###########################
# Source files
###########################
*.java text
*.py   text
*.glsl text
Makefile  text
Makedefs  text

###########################
# Scripts
###########################
*.bat text eol=crlf
*.sh  text eol=lf
*.command text eol=lf

###########################
# Geometry
###########################
*.obj    text
*.ele    text
*.elem   text
*.node   text
*.ply    text
*.stl    text=auto

###########################
# Text files
###########################
*.txt    text
*.tex    text
*.gradle text
*.xml    text

###########################
# Binary files
###########################
*.pdf  binary
*.png  binary
*.jpg  binary
*.jpeg binary

###########################
# Git configurations
###########################
.gitattributes text
.gitmodules    text
.gitignore     text
