######################
# Private folder
######################
/priv

######################
# Other repositories
######################
.svn
.cvsignore
CVS

######################
# Gradle cache
######################
.gradle

######################
# Compiled
######################
*.class
*.dylib
*.jnilib
*.dll
*.a
*.o
*.la
*.so
*.so.*
*.lib
*.exe
*.h.gch
/build
/classes

######################
# Temp files
######################
*.swp
*~
*.bak
/tmp

######################
# Log files
######################
*.log

######################
# Project files
######################
.classpath
.project
.cproject
.settings
ArtiSynth.launch

######################
# MacOS files
######################
.DS_Store
