######################
# Private folder
######################
/priv

######################
# Custom settings
######################
/EXTCLASSPATH

######################
# Other repositories
######################
.svn
.cvsignore
CVS

######################
# Gradle cache
######################
.gradle

######################
# Compiled
######################
*.class
*.dylib
*.jnilib
*.dll
*.a
*.o
*.la
*.so
*.so.*
*.lib
*.exe
*.h.gch
/build
/classes

######################
# Temp files
######################
*.swp
*~
*.bak
/tmp

######################
# Log files
######################
*.log

######################
# Eclipse files
######################
.cproject
*.launch

######################
# User Settings
######################
EXTCLASSPATH

######################
# MacOS files
######################
.DS_Store

