######################
# Jar files
######################
*.jar

######################
# Native libraries
######################
/Windows*
/Linux*
/MacOS*
/Darwin*

######################
# Temporary files
######################
/cachedir
